In [4]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [2]:
import numpy as np

# Load the dataset
data = np.load('development.npy', allow_pickle=True)

# Print the number of columns
num_columns = data.shape[1]
print("Number of columns:", num_columns)
print(f"Shape: {data.shape}")

Number of columns: 175
Shape: (45296, 175, 44)

In [6]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

X = data[:, :-1]  
y = data[:, -1]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=104, test_size=0.25, shuffle=True)

X_train_flat = X_train.reshape(X_train.shape[0], -1)
X_test_flat = X_test.reshape(X_test.shape[0], -1)

X_train_df = pd.DataFrame(X_train_flat)
X_test_df = pd.DataFrame(X_test_flat)
y_train_df = pd.DataFrame(y_train)
y_test_df = pd.DataFrame(y_test)

print('X_train : ')
print(X_train_df.head())
print(X_train_df.shape)
 
print('')
print('X_test : ')
print(X_test_df.head())
print(X_test_df.shape)
 
print('')
print('y_train : ')
print(y_train_df.head())
print(y_train_df.shape)
 
print('')
print('y_test : ')
print(y_test_df.head())
print(y_test_df.shape)

X_train :
          0            1            2            3            4     \
0  3506.278817  3474.108764  3616.990432  3566.538771  3639.355809
1  3425.314169  2534.953113  2134.337118  2370.662645  2904.864907
2  2832.893317  2853.672892  2913.774881  3347.857595  2752.261872
3  3430.800593  3512.720884  3607.909479  3670.902532  3501.970507
4  3027.689276  3241.946849  3166.875841  2933.157672  2945.876669

          5            6            7            8            9     ...  \
0  3541.787813  3494.387047  3698.622585  1878.363233  2280.198323  ...
1  3210.008188  2462.606573  1739.921558  1565.257596  1145.896698  ...
2  3088.198531  3188.869500  3405.119826  2904.814411  2849.202363  ...
3  3524.628030  3131.011586  1161.500270  1193.630853  1131.100097  ...
4  2953.157886  3123.399671  3056.188998  3306.688436  3114.787264  ...

          7646        7647        7648        7649        7650        7651  \
0   316.784926  313.057559  241.342776  240.837387  241.646369  215.107509
1   124.633157  242.622468  270.795438  273.403526  103.637903  147.398101
2   186.019640  185.448967  185.162063  180.377712  180.985089  183.786375
3  5362.091247  137.193796  141.631731  140.504830  138.025621  142.816673
4   118.461415  116.900193  115.110303  114.810138  115.185769  113.138531

         7652        7653        7654        7655
0  135.295366  144.515971  144.541544  148.033709
1  100.404823  319.280414  952.441138  952.570738
2  182.082355  179.414374  174.118583  175.574807
3  142.691158  153.261285  158.189157  110.648608
4  109.658774  115.862593  122.313288  127.647342

[5 rows x 7656 columns]
(33972, 7656)

X_test :
          0            1            2            3            4     \
0  2422.592762  2582.789583  2775.681657  2485.687967  2804.804461
1  2873.543542  2733.148064  2694.017070  2622.291989  2835.222979
2  3751.594721  3381.633489  4191.253204  3976.558643  3826.218436
3  1992.203499  2860.610892  3429.839407  3315.731954  3279.419536
4  3585.069680  3073.356905  2913.796679  2712.026992  2827.447734

          5            6            7            8            9     ...  \
0  2770.629884  2561.280709  2792.518738  2573.119304  2883.525887  ...
1  2898.400352  2891.569203  2809.374290  2720.686893  2773.662843  ...
2  3783.883534  3288.363358  3505.902328  3450.149360  3738.389468  ...
3  3424.988953  3374.421767  3311.425387  2268.650735  1824.426515  ...
4  3084.889054  3078.662250  2787.338681  1703.163019  1751.052453  ...

          7646         7647         7648         7649         7650  \
0  3375.904301  3410.985020   663.035296   141.723266   133.520205
1  5024.386732  1717.808508   104.856505   104.763626   110.940112
2   100.000000  8000.000000  8000.000000  8000.000000  8000.000000
3   224.221744   116.087831  8000.000000  8000.000000  8000.000000
4  3056.099714  2371.920676  8000.000000  8000.000000  8000.000000

          7651         7652         7653         7654         7655
0   280.503496   547.929502   561.898153   569.161874   285.989968
1   104.564569  5245.692771  5192.907853  5233.841140   115.937490
2  1195.552512  1210.916448   156.649087   153.708139   200.128145
3  8000.000000  8000.000000   100.000000   101.937524   122.511891
4  8000.000000  8000.000000  8000.000000  8000.000000  3189.562883

[5 rows x 7656 columns]
(11324, 7656)

y_train :
       0       1       2       3       4       5       6       7       8   \
0  0.1975  0.2925  0.1775  0.2250  0.2100  0.2250  0.2450  0.2150  0.1425
1  0.5500  0.2900  0.2175  0.2350  0.2500  0.2525  0.2250  0.2275  0.1550
2  0.0200  0.0675  0.0625  0.1875  0.1475  0.0650  0.0950  0.0975  0.1100
3  0.3225  0.3600  0.3200  0.2825  0.3125  0.2125  0.0600  0.0250  0.0275
4  0.1125  0.1025  0.0825  0.0775  0.0675  0.0650  0.0625  0.0850  0.1050

       9   ...      34      35      36      37      38      39      40  \
0  0.1000  ...  0.2750  0.1050  0.1900  0.2450  0.2250  0.2575  0.2100
1  0.0450  ...  0.0400  0.0700  0.1425  0.1950  0.1925  0.2250  0.1825
2  0.0650  ...  0.0750  0.0525  0.0275  0.0975  0.0225  0.0325  0.0475
3  0.0250  ...  0.3875  0.2800  0.1650  0.1875  0.2600  0.2275  0.1925
4  0.0925  ...  0.0275  0.0250  0.0300  0.0275  0.0325  0.0850  0.0425

       41      42      43
0  0.2250  0.2450  0.1550
1  0.1925  0.2075  0.2150
2  0.0400  0.0275  0.0325
3  0.2550  0.3350  0.3250
4  0.0875  0.0650  0.0950

[5 rows x 44 columns]
(33972, 44)

y_test :
       0       1       2       3       4       5       6       7       8   \
0  0.0875  0.1150  0.1050  0.1025  0.1225  0.0700  0.0650  0.1675  0.1875
1  0.2800  0.2000  0.2475  0.2750  0.3125  0.2775  0.3900  0.4175  0.1725
2  0.3425  0.5850  0.6000  0.5250  0.3575  0.3825  0.2125  0.4500  0.5925
3  0.0725  0.2175  0.4275  0.5300  0.5200  0.5000  0.4800  0.4325  0.0875
4  0.1075  0.3100  0.3900  0.3825  0.4100  0.3250  0.1425  0.0825  0.0700

       9   ...      34      35      36      37      38      39      40  \
0  0.2650  ...  0.3300  0.2925  0.2175  0.1750  0.2175  0.1075  0.1500
1  0.1775  ...  0.3275  0.2225  0.1875  0.2500  0.1150  0.1575  0.1600
2  0.6150  ...  0.2650  0.2675  0.2175  0.2075  0.3175  0.2600  0.3275
3  0.0600  ...  0.1525  0.1100  0.1000  0.0650  0.0275  0.0150  0.0825
4  0.0775  ...  0.1625  0.0750  0.0700  0.0725  0.1425  0.0500  0.1075

       41      42     43
0  0.1100  0.1300  0.095
1  0.2700  0.2275  0.170
2  0.3575  0.3050  0.305
3  0.1650  0.2100  0.150
4  0.0775  0.0525  0.105

[5 rows x 44 columns]
(11324, 44)